/*
* @Author: Administrator
* @Date:   2017-08-24 14:16:49
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-30 23:12:37
*/
@import url('base.css');
body{
	width: 100%;
}
.zhwei{
	width: 100%;
	height: 0.9rem;
}

.head{
	width: 100%;
	height: 0.9rem;
	background: #fff;
	display: flex;
	justify-content:space-between;
	align-items: center;
	padding: 0 0.35rem 0;
	border-bottom: 0.01rem solid #cecece;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;

}
.logo{
	display: block;
	width:0.4rem;
	height: 0.4rem;
	background: url('../img/ee20170825024820.png');
	background-size: 0.4rem 0.4rem;
}
.htext{
	width: 1.09rem;
	height: 0.35rem;
	font-size: 0.35rem;
	color: #404040;
}
.xx{
	display: block;
	width: 0.4rem;
	height: 0.36rem;
	background: url('../img/tmall.com.png');
	background-size: 0.4rem 0.36rem;
}
.banner{
	width:100%;
	height: 3.90rem;

	position: relative;
}
.banner-list{
    width:100%;
	height: 3.90rem;
}
.banner-list li{
	width:100%;
	height: 3.90rem;

	position: absolute;
	top: 0;
	left: 0;
}
.banner-list li a,.banner-list img{
	display: block;
	width:100%;
	height: 3.90rem;
}
.banner-btn{
	width: 1.03rem;
	height: 0.07rem;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 0.15rem;
	display: flex;
	justify-content:space-between;
	align-items:center;
}
.banner-btn li{
	width: 0.07rem;
	height: 0.07rem;
	border-radius: 50%;
	background: #fff;
}
.banner-btn li:nth-child(4){
	width: 0.1rem;
	height: 0.07rem;
	border-radius: 0.07rem;

}
.youx{
	width: 100%;
	height: 0.8rem;
	
}
.youx-list{
	width: 100%;
	height: 0.8rem;
    display: flex;
	justify-content:space-around;
	align-items: center;
}
.youx-list li{
	height: 0.23rem;
    display: flex;
    justify-content:center;
	align-items:center;

}
.youx-list li div{
    width:0.15rem;
    height: 0.13rem;
    background: blue;
   float: left;

}
.youx-list li img{
	display: block;
	width: 100%;
	height: 100%;
}
.youx-list li a{
	color: #a2a2a2;
	
	font-size: 0.20rem;
	

} 
.yifenchou{
	width: 100%;
	height: 2.88rem;
	border-top:0.1rem solid #f3f4f6;
	border-bottom:0.1rem solid #f3f4f6;

}
.yifen-list{
	width: 100%;
	height: 2.69rem;
	display: flex;
	justify-content: space-around;
	align-items: center;

}
.yifen-list li{
	width: 1.4rem;
	height: 2.69rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

}
.yitu{
	display: block;
	width: 1.42rem;
	height: 1.42rem;
	border-radius: 50%;
}
.yitu img{
	display: block;
	width: 1.42rem;
	height:1.42rem;
}
.yifentext{
	font-size:0.23rem;
	color: #3e3e3e;
}



.xianshi{
	width: 100%;
	height: 4.31rem;
	border-bottom: 0.1rem solid ##f3f4f6;
	padding-top: 0.29rem;
}
.xianshi-top{
	width: 7.06rem;
	height: 0.26rem;
	margin: 0 auto;
	display: flex;
	justify-content:space-between;
	align-items: center;


}
.xs-left{
	width: 1.61rem;
	height: 0.25rem;
	font-size: 0.24rem;
	display: flex;
	/* justify-content: space-between; */
	align-items: center;

}
.xs-left img{
	display: block;
	width: 0.22rem;
	height: 0.25rem;
}
.xs-left a{
	color:#5f5f5f;
}
.xs-right{
	font-size: 0.24rem;
	color: #858585;
}
.xianshi-bottom{
	width: 7.12rem;
	height: 3rem;
	margin: 0 auto;
	margin-top: 0.28rem;
}
.bot,img{
	display: block;
	width: 7.12rem;
	height: 3rem;
}

.shangxin{
	width: 100%;
	height: 4.69rem;
	border-bottom: 0.1rem solid #f3f4f6;
	padding-top: 0.29rem;
	margin-top: 0.1rem;

}
.shangxin-top{
	width: 7.06rem;
	height: 0.26rem;
	margin: 0 auto;
	display: flex;
	justify-content:space-between;
	align-items: center;


}
.shangx-list{
	width: 7.06rem;
	height: 3.77rem;
	margin: 0 auto;
	margin-top: 0.28rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.shangx-list li{
	width: 2.01rem;
	height: 3.6rem;

}
.shangx-list li a,.shangx-list li img{
	display: block;
	width: 2rem;
	height: 3.01rem;
}
.shangx-list li p{
	font-size: 0.2rem;
	text-align: center;
	margin-top: 0.10rem;
	color: #444444;
}
.next{
	width: 100%;
	height:8.28rem;
	border-bottom: 0.1rem solid #f3f4f6;
	padding-top: 0.29rem;
}
.next-bottom{
	width: 7.09rem;
	height: 6.44rem;
	margin: 0 auto;
    margin-top: 0.28rem;
    display: flex;
    flex-wrap: wrap;
	align-content:space-between;
}
.next-tu{
	width: 7.09rem;
	height: 1.94rem;
	display: flex;
	justify-content: space-around;
	


}
.next-tu li{
	width: 1.57rem;
	height: 1.94rem;
	margin-bottom: 0.10rem;

	
}
.next-tu li .pig{
	display: block;
	width: 1.49rem;
	height: 1.49rem;
	border-radius: 50%;
}
.next-tu li img{
	display: block;
	width: 1.49rem;
	height: 1.49rem;
}
.next-tu li .zi{
	display: block;
	font-size: 0.24rem;
	text-align: center;
	color: #191919;
}
.btn{
	width: 1.64rem;
	height: 0.27rem;
    margin:0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 0.45rem;
}
.btn li{
	width: 0.11rem;
	height: 0.11rem;
	border-radius: 50%;
	background: #6b6b6b;
}
.btn li:first-child{
	width: 0.76rem;
	height: 0.35rem;
	background: #ff7229;
	border-radius: 0.18rem;
	font-size:0.20rem;
	text-align: center;


}
.btn li:first-child a{
	color: #fff;
	font-size: 0.16rem;
}
.haowuda{
	width: 100%;
	height:16.03rem;
	padding-top: 0.29rem;
	border-bottom: 0.1rem solid #f3f4f6;

}
.box-hw{
	width: 7.1rem;
	height: 7.10rem;
	margin: 0 auto;
	margin-top: 0.28rem;
	display: flex;
	justify-content: space-between;
}
.zouo{
	display: block;
	width: 4.71rem;
	height: 100%;
}
.zouo img{
	display: block;
	width: 4.71rem;
	height: 100%;
}
.youo{
	width: 2.34rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.youo li{
	width: 2.34rem;
	height: 2.34rem;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	position: relative;
}
.youo li a{
	display: block;
	width: 2.34rem;
	height: 2.34rem;
}
.youo li a img{
	display: block;
	width: 2.34rem;
	height: 2.34rem;
}
.youo li p{
	display: block;
	width: 1.08rem;
	height: 0.36rem;
	background: rgba(0, 0, 0, 0.4);
	font-size: 0.22rem;
	color: #fff;
	position: absolute;
	bottom: 0;
	right: 0;

}

.hw-bw{
	width: 7.1rem;
	height: 6.01rem;
	margin: 0 auto;
	margin-top:0.50rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom:0.4rem;
}
.bx-t{
	display: block;
	width: 7.1rem;
	height: 3.40rem;

}
.bx-t img{
	display: block;
	width: 7.1rem;
	height: 3.40rem;
}
.bw-list{
	width: 7.10rem;
	height: 2.50rem;
	display: flex;
	justify-content: space-between;

}
.bw-list li{
	width: 1.40rem;
	height: 2.50rem;

}
.bw-list li a{
	display: block;
	width: 1.40rem;
	height: 2.10rem;
}
.bw-list li a img{
	display: block;
	width: 1.40rem;
	height: 2.10rem;
}
.bw-list span{
	display: block;
	font-size: 0.22rem;
	color: #292929;
	text-align: center;
}
.dibu{
	display: block;
	width: 6.57rem;
	height: 0.61rem;
	background: #f2f7fb;
	border-radius: 0.19rem;
	font-size:0.22rem;
	color: #333937;
	margin-top: 0.4rem;
	margin: 0 auto;
	text-align: center;
	line-height: 0.61rem;
}

.danpin{
	width: 100%;
	height:8.47rem;
	padding-top: 0.29rem;
	border-bottom: 0.1rem solid #f3f4f6;

}
.dahz{
	width: 7.10rem;
	height: 6.42rem;
	margin: 0 auto;
	margin-top: 0.28rem;
	display: flex;
	justify-content: space-between;
}
.da-list{
	width: 3.45rem;
	height: 6.42rem;
}
.imgt{
	display: block;
	width: 3.45rem;
	height: 5.19rem;
}
.imgt img{
	display: block;
	width: 3.45rem;
	height: 5.19rem;
}
.xi-list{
	width: 3.45rem;
	height: 0.94rem;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;

}
.xi-list li{
	height: 0.3rem;
}
.xi-list a{
	display: block;
	width: 0.88rem;
	background: #f3f3f3;
	font-size: 0.18rem;
	color: #6f737f;
	text-align: center;
}
.guanz{
	width:3.45rem;
	height: 0.26rem;
	display: flex;
	justify-content: space-between;

}
.guanz .numb1{
	font-size: 0.18rem;
	color: #191919;
}
.guanz .numb2{
	font-size: 0.18rem;
	color: #999999;
}
.jiewei{
	width: 100%;
	height: 0.98rem;
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
	display: flex;
}
.jiewei-list{
	width: 100%;
	height: 0.98rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.jiewei-list li{
	width: 0.8rem;
	height: 0.73rem;
	background:#fff;
}
.jiewei-list li a{
	display: flex;
	width:0.43rem;
	height: 0.41rem;
	margin-left: 0.08rem;
	justify-content: center;
	color: #404040;
	padding-left: 0.2rem;
}
.jiewei-list li a img{
	display: block;
	width: 0.43rem;
	height: 0.41rem;
}
.jiewei-list p{
	display: block;
	font-size: 0.18rem;
	text-align: center;
	color: #606060;
}
