
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503727069515'); /* IE9*/
  src: url('iconfont.eot?t=1503727069515#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503727069515') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503727069515') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503727069515#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuihuanhuo:before { content: "\e651"; 
   font-size: 0.35rem;
    color: #2f2f2f;
    align-items: center;
  }

.icon-iconfontmall02:before { content: "\e7b1"; 
  font-size: 0.24rem;
  color: #ff9096;
}

.icon-biaoqian:before { content: "\e662"; 
font-size: 0.24rem;
  color: #cbdeff;
}

.icon-zuji:before { content: "\e60d";
font-size: 0.5rem;
color: #413f4c;
 }

.icon-youhuijuan:before { content: "\e625";
font-size: 0.5rem;
color: #413f4c;
 }

.icon-shouye:before { content: "\e60c"; 

font-size: 0.35rem;
color: #f32263;}

.icon-feiji:before { content: "\e609"; 
   font-size: 0.20rem;
   
   color:  #f1e7a0;
}
.icon-feiji2:before { content: "\e609"; 
    font-size: 0.35rem;
    color: #2f2f2f;
    align-items: center;
}


.icon-kefu:before { content: "\e675";
  font-size: 0.40rem;
  color: #d75079;
 }

.icon-yuan:before { content: "\e63a"; 
   font-size: 0.20rem;
   color:  #cbe8b8;
}

.icon-daifukuan:before { content: "\e624"; 
    font-size: 0.35rem;
    color: #2f2f2f;
    align-items: center;
}

.icon-gerenzhongxinnv:before { content: "\e6eb";
font-size: 0.35rem;
color: #f32263;
 }

.icon-shoucang:before { content: "\e71a"; 
font-size: 0.5rem;
color: #413f4c;
}

.icon-qian:before { content: "\e629";
font-size: 0.5rem;
color: #413f4c;
 }

.icon-jia:before { content: "\e678"; 
 font-size: 0.28rem;
 color: #383838;
 margin-left: 0.20rem;
 margin-right: 0.20rem;
}

.icon-crown:before { content: "\e62a"; 
  font-size: 0.24rem;
  color: #f4bbb2;
}
.icon-crown2:before { content: "\e62a"; 
color: #e7c78e;
font-size: 0.28rem;
margin-left: 0.2rem;
border-radius: 50%;
background: #fff3ea;
}


.icon-yijia:before { content: "\e720";
font-size: 0.24rem;
  color: #c1e1b2; }

.icon-wubianxing:before { content: "\e6e6";
   font-size: 0.20rem;
   color:  #cfddff;  

 }

.icon-leimupinleifenleileibie:before { content: "\e72b"; 
font-size: 0.35rem;
color: #f32263;
text-align: center;
}

.icon-xin:before { content: "\e60a"; 
font-size: 0.5rem;
color: #413f4c;
}

.icon-dianhua:before { content: "\e613"; 
font-size: 0.5rem;
color: #413f4c;
}

.icon-dianpu:before { content: "\e628";
font-size: 0.4rem;
color: #676767;
 }

.icon-gouwu2-copy:before { content: "\e600";
font-size: 0.35rem;
color: #f32263;
 }

.icon-fangkuai:before { content: "\e61a"; 
font-size: 0.20rem;
   color: #fddccd;
}

.icon-shoucang1:before { content: "\e60b"; 
 font-size: 0.29rem;
 color: #3e3c03;
}
.icon-shoucang3:before { content: "\e60b"; 
font-size: 0.4rem;
color: #676767;
}

.icon-quanbudingdan:before { content: "\e60e"; 
    font-size: 0.35rem;
    color: #2f2f2f;
    align-items: center;
}

.icon-qian1:before { content: "\e63b"; 
font-size: 0.20rem;
   color: #ffcad2;}

.icon-shezhi:before { content: "\e601";
font-size: 0.48rem;
color: #282828;
 }

.icon-shouye1:before { content: "\e604"; 
font-size: 0.35rem;
color: #f32263;

}

.icon-wallet_icon:before { content: "\e664"; 
font-size: 0.5rem;
color: #413f4c;
}

.icon-daipingjia:before { content: "\e60f"; 
    font-size: 0.35rem;
    color: #2f2f2f;
    align-items: center;
  }

.icon-huiyuanzhongxinqiangpiaoquan:before { content: "\e6a3"; 
font-size: 0.5rem;
color: #413f4c;
}

